<div class="footer">
    <p >
        תוצר זה פותח במסגרת פרויקט גמר בתואר ראשון ב<a href="https://www.hit.ac.il/telem/overview">פקולטה לטכנולוגיות למידה</a>,
        HIT |
        <a href="http://telemview.telem-hit.net/">למידע נוסף>></a>
         </p>
</div>
@code {

}
