

<div class="invalid-score bg" style="width:@size;height:@size;margin:@mar;"><div style="font-size:@fontsize">!</div></div>

@code {
    [Parameter]
    public string fontsize { get; set; }
    [Parameter]
    public string size { get; set; }
    [Parameter]
    public string mar { get; set; }

}
