<div class="loading">
    <div class="d-flex justify-content-center mt-2 mb-2">
        <div class="lds-default centerObject"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>

@code {

}
