<Animate Animation="Animations.FadeUp" Duration="TimeSpan.FromSeconds(0.5)" Delay="TimeSpan.FromSeconds(0.5)">

    <div class="mt-5 tiprow" style="">
        <h3 class="mb-3 headlines" style=" margin-right: unset;">כללי הזהב של קתימבוט:</h3>
        <div class="row align-content-center" style="gap: 3em; width: 90%; justify-content: space-between;">
            <TipCard imgsrc="icon-rate-icon" url="./Tips#Voice" tip="הקפידו על קצב דיבור לא מהיר ולא איטי מדי"></TipCard>
            <TipCard imgsrc="icon-move-icon" url="./Tips#Move" tip="השתמשו בחלל החדר, אל תשארו במקום אחד"></TipCard>
            <TipCard imgsrc="icon-hans-icon" url="./Tips#Hand" tip="השתמשו בידיים כדי להעביר את המסר"></TipCard>
            <TipCard imgsrc="icon-eyes-icon" url="./Tips#Look" tip="הקפידו ליצור קשר עין עם כל המשתתפים"></TipCard>
            <TipCard imgsrc="icon-cool-icon" url="./Tips#Con" tip="הישארו רגועים והפגינו ביטחון עצמי"></TipCard>
        </div>
        <a href="./Tips" class="goldBtn btn-primary mt-5 alltips align-self-end" style="margin-left: 2em; color: var(--textC); min-width: 9em;">
            לכל הטיפים
            <span class="icon-arrow-left-icon moveani" style="color: var(--textC); width: 2em;"></span>
        </a>
    </div>
</Animate>

@code {

}
