

<div class="card h-100 d-flex bg border-0 flex-column justify-content-center align-content-center">
    <div class="bg" style="background: #F0CB7F">
        <img src="" />
    </div>
    <div class="card-body p-2 bg">
        <p class="card-text">
            @tip
        </p>
        <a href="#" class="btn goldBtn w-100">
            איך לעשות את זה?
        </a>
    </div>
</div>

@code {
    [Parameter]
    public string tip { get; set; }
}
