@page "/404"

    <div class="bg" style="text-align: center; display: flex; gap: 1em; flex-direction: column; align-content: center; align-items: center; width: fit-content; padding: 2em; margin: auto;">
        <h3>לאן ניסית להגיע?</h3>
        <h4>לא קיים כאן דף כזה, אבל אפשר לחזור לדף הראשי במקום</h4>
        <h1 class="error">404</h1>
        <a href="./MainPage" class="btn-primary">חזרה לדף הראשי</a>
    </div>
    @code {

    }
